:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  user-select: none;
}

.sidemenu {
  position: absolute;
  height: 100vh;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #44444433;
  padding: 1.5rem 0;
}

.side_1 {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 250px;
  left: 100px;
  width: 1000px;
  height: 100%;
}

.side_2 {
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: 200px;
  left: 100px;
  width: 1000px;
  height: 100px;
}

.enemy,
.player {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100px;
  height: 100px;
  background-color: white;
}

.target {
  box-shadow: 0px -5px 32px 4px crimson;
}

.emptyBar {
  transform: translateY(-40px);
  width: 100px;
  height: 15px;
  background-color: rgba(218, 165, 32, 0.613);
}

.health_fill {
  background-color: #800;
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.mana_fill {
  background-color: #06A;
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.fill {
  background-color: rgba(0, 174, 255, 0.754);
  height: 100%;
}

.battleTimer {
  width: 1000px;
  height: 15px;
  background-color: rgba(218, 165, 32, 0.613);
  z-index: 1;
}

.cen-flex {
  display: flex;
  justify-content: center;
}

.btn {
  width: 100px;
  padding: 1rem 0;
  background-color: orangered;  
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 64px);
  grid-template-rows: repeat(10, 64px);
  transform: rotateZ(0deg);
}

.water {
  background-color: #06A;
}

.grass {
  background-color: #0A6;
}

.dirt {
  background-color: #a86c3b;
}

.damaged.player, .damaged.enemy {
  animation: damageReceived 1s 1 linear;
}

.healed.player, .healed.enemy {
  animation: healingReceived 1s 1 linear;
}

.attacking.enemy {
  animation: sendAttackEnemy 0.33s 1 linear;
}

.attacking.player {
  animation: sendAttackPlayer 0.33s 1 linear;
}

@keyframes sendAttackEnemy {
  0% {
    transform : translateY(0px);
  }

  50% {
    transform : translateY(12px);
  }

  100% {
    transform : translateY(0px);
  }
}

@keyframes sendAttackPlayer {
  0% {
    transform : translateY(0px);
  }

  50% {
    transform : translateY(-12px);
  }

  100% {
    transform : translateY(0px);
  }
}

@keyframes damageReceived {
  0% {
    transform: scale(0.9);
    filter: drop-shadow(16px 16px 16px crimson);
  }

  100% {
    filter: none;
  }
}

@keyframes healingReceived {
  0% {
    transform: scale(1.1);
    filter: drop-shadow(16px 16px 16px springgreen);
  }

  100% {
    filter: none;
  }
}
