:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.side_1 {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 250px;
  left: 100px;
  width: 1000px;
  height: 100%;
}

.side_2 {
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: 200px;
  left: 100px;
  width: 1000px;
  height: 100px;
}

.player {
  width: 100px;
  height: 100px;
  background-color: white;
}

.enemy {
  left: 500px;
}

.emptyBar {
  transform: translateY(-35px);
  width: 100px;
  height: 15px;
  background-color: rgba(218, 165, 32, 0.613);
}

.health {
  background-color: #800;
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.fill {
  background-color: aqua;
  height: 100%;
}

.battleTimer {
  width: 1000px;
  height: 15px;
  background-color: rgba(218, 165, 32, 0.613);
}

.cen-flex {
  display: flex;
  justify-content: center;
}