:root {
  --orange: orangered;
  --black: #111;
  --black-fade: #1119;
  --black-fade-light: #121212df;
  --black-tooltip: #123f;
  --black-shine: radial-gradient(#121212, #122);
  --white-fade: #fbfdfb99;
  --white: #fbfdfe;
  --light-pink: #faf;
  --light-green: #4fa;
  --light-blue: #4cf;
  --light-purple: #9af;
  --crimson: crimson;
  --silver: #c0c0c0;
  --golden: goldenrod;
  --gold: gold;
  --golden_highlight: rgba(184, 142, 35, 0.9);
  --golden_fade: var(--orange);
  --brown: rgba(114, 87, 18, 0.9);

  --white-r-gradient: radial-gradient(rgb(193, 193, 193), rgb(79, 79, 79));
  --green-r-gradient: radial-gradient(lime, darkgreen);
  --blue-r-gradient: radial-gradient(rgb(0, 114, 213), rgb(23, 23, 209));
  --purple-r-gradient: radial-gradient(violet, purple);
  --orange-r-gradient: radial-gradient(orange, rgb(168, 92, 0));
  
  --outline_gold_inset: 2px inset var(--golden);
  --border_gold_outset: 2px outset var(--gold);
  --border_white_outset: 2px outset var(--white);
  --outline_white_inset: 2px inset var(--white-fade);

  font-family: DotGothic16, Arial, Helvetica, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  user-select: none;
}

hr {
  border: 1px double white;
}

.sidemenu {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  height: 240px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #44444433;
  /* padding: 1.5rem 0; */
  z-index: 5;
}

.attacks_menu {
  overflow-y: auto;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 128px);
  grid-template-rows: repeat(auto-fit, 64px);
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.grid_header {
  grid-column: 2 / -1;
}

.side_1 {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 20%;
  left: 0%;
  width: 100%;
  height: 100px;
}

.side_2 {
  position: absolute;
  display: flex;
  justify-content: space-around;
  top: 60%;
  left: 0%;
  width: 100%;
  height: 100px;
}

.enemy,
.player {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100px;
  height: 100px;
  background-color: white;
}

.minimap_player {
  width: 64px;
  height: 64px;
  transform: translate(10px, -30px);
}

.target {
  box-shadow: 0px -5px 32px 4px crimson;
}

.emptyBar {
  transform: translateY(-40px);
  width: 100px;
  height: 15px;
  background-color: rgba(218, 165, 32, 0.613);
}

.health_fill {
  background-color: #800;
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.mana_fill {
  background-color: #06A;
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.xp_fill {
  background-color: rgba(0, 174, 255, 0.754);
  height: 100%;
  transition: width 0.5s ease-in-out;
}

.fill {
  background-color: rgba(0, 174, 255, 0.754);
  height: 100%;
}

.battleTimer {
  position: absolute;
  top: 1rem;
  width: 1000px;
  height: 15px;
  background-color: rgba(218, 165, 32, 0.613);
  z-index: 1;
  box-shadow: 4px 4px 16px black;
}

.action_queue {
  position: absolute;
  top: 10%;
  left: 5rem;
  height: 300px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: linear-gradient(#24242487, #1111117a);
  box-shadow: 4px 4px 16px black;
}

.action_group {
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 0.5rem;
}

.action {
  text-align: center;
  background: var(--white-r-gradient);
}

.action p {
  text-shadow: 2.5px 2px 1px black;
}

.cen-flex {
  display: flex;
  justify-content: center;
}

.btn {
  width: 100px;
  padding: 1rem 0;
  background-color: orangered;  
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 64px);
  grid-template-rows: repeat(10, 64px);
  transform: rotateZ(0deg);
}

.minimap {
  display : grid;
  grid-template-columns: repeat(3, 96px);
  grid-template-rows: repeat(3, 96px);
  box-shadow: 6px 6px 12px black;
  border: 1px solid white;
}

.minimap_group {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background: radial-gradient(black, grey );
  border: 1px solid white;
}

.water {
  background-color: #06A;
}

.forest,
.grass {
  background-color: #0A6;
}

.room,
.dirt {
  background-color: #a86c3b;
}

.scrapyard {
  background-color: rgb(43, 38, 18);
}

.crypt {
  background-color: #122;
}

.hive {
  background: radial-gradient(yellow, orange);
}

.factory {
  background: radial-gradient(rgb(36, 49, 36), rgb(68, 64, 45) );
}

.abyss {
  background: radial-gradient(royalblue, darkblue);
}

.desert {
  background: radial-gradient(yellow, red);
}

.simulation {
  background: radial-gradient(rgb(6, 57, 6), black );
}

.divinity {
  background: radial-gradient(white, grey);
}

.wall {
  background-color: #111;
}

.damaged.player, .damaged.enemy {
  animation: damageReceived 1s 1 linear;
}

.healed.player, .healed.enemy {
  animation: healingReceived 1s 1 linear;
}

.attacking.enemy {
  animation: sendAttackEnemy 0.33s 1 linear;
}

.attacking.player {
  animation: sendAttackPlayer 0.33s 1 linear;
}

.naturalist.back {
  background: url('/src/assets/elf_back.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.naturalist.front {
  background: url('/src/assets/elf_front.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes sendAttackEnemy {
  0% {
    transform : translateY(0px);
  }

  50% {
    transform : translateY(12px);
  }

  100% {
    transform : translateY(0px);
  }
}

@keyframes sendAttackPlayer {
  0% {
    transform : translateY(0px);
  }

  50% {
    transform : translateY(-12px);
  }

  100% {
    transform : translateY(0px);
  }
}

@keyframes damageReceived {
  0% {
    transform: scale(0.9);
    filter: drop-shadow(16px 16px 16px crimson);
  }

  100% {
    filter: none;
  }
}

@keyframes healingReceived {
  0% {
    transform: scale(1.1);
    filter: drop-shadow(16px 16px 16px springgreen);
  }

  100% {
    filter: none;
  }
}
