.main_menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

.menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 2.5rem;
    min-width: 320px;
    max-width: 600px;
    outline: var(--outline_gold_inset);
    outline-offset: 2px;
    border: var(--border_gold_outset);
    border-radius: 3px;
    background-color: var(--black);
    box-shadow: 0px 12px 32px var(--black);
}

.character_select {
    margin: 1rem;
    display: flex;
    gap: 1rem;
}

.character_create {
    display :flex;
    flex-direction: column;
    gap: 0.75rem;
}

.character_menu {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 320px;
    margin-left: 2.5rem;
    gap: 1rem;
}

.character_btn {
    background-color: var(--black);
    padding: 1.5rem 2.5rem;
    border: var(--border_white_outset);
    outline: var(--outline_white_inset);
    outline-offset: 2px;
    border-radius: 3px;
}

.menu_btn {
    font-size: 20px;
    text-shadow: 2.5px 2px 1px black;
    padding: 0.5rem 1rem;
    color: white;
    border: var(--border_white_outset);
    background-color: var(--silver);
    border-radius: 3px;
    text-align: center; 
}

.menu_btn.selected {
    background-color: goldenrod;
}

.menu_btn:disabled {
    filter: brightness(50%);
    cursor: not-allowed;
}

.menu_input {
    padding: 0.25rem;
    background-color: var(--silver);
    border: var(--border_white_outset);
    border-radius: 3px;
    outline-offset: 1px;
    outline: var(--border_white_outset);
    color: white;
}

.menu_title {
    width: 100%;
    text-align: center;
    font-size: 32px;
    text-shadow: 2.5px 2px 1px black;
}

.menu_link {
    padding: 0.5rem 1rem;
    color: white;
    background-color: var(--orange);
    border-radius: 25px;
    text-align: center;
}

.menu_link.disabled {
    background-color: #1119;
    opacity: 50%;
    padding-right: 1rem;
    cursor: not-allowed;
}

.party_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 25px;
    gap: 1rem;
}

.character_profile .emptyBar,
.party_menu_bars .emptyBar {
    transform: translateY(0) !important
}

.party_menu_player {

}

.tree_menu {
    width: 1000px;
    justify-content: space-between;
}

.skill_tree {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-height: 270px;
    min-height: 270px;
    padding-top: 0.75rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    overflow: scroll;
}

*::-webkit-scrollbar {
    background-color: #242424;
    width: 0.25rem;
    height: 0.25rem;
}

*::-webkit-scrollbar-thumb {
    background-color: goldenrod;
}

.inventory {
    position: absolute;
    top: 20%;
    transform: translateY(-20%);
    z-index: 5;
    min-height: 500px;
    max-height: 500px;
}

.inventory_items {
    display: grid;
    grid-template-columns: repeat(5, 64px);
    grid-template-rows: repeat(auto-fit, 64px);
    gap: 1rem;
}

.inventory_item {
    border: var(--border_white_outset);
}

.box.selected,
.inventory_item.selected {
    border: var(--border_gold_outset);
}

.inventory_btn_bar {
    display: flex;
    width: 80%;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.inn {
    display: flex;
    background-color: red;
}

.gamelog {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    min-height: 200px;
    max-height: 200px;
    min-width: 600px;
    max-width: 600px;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.gamelog_message_group {
    overflow-y: scroll;
    padding-top: 1rem;
}

.message {
    text-shadow: 2.5px 2px 1px black;
    font-size: 16px;
}

.profile_status {
    border: 1px solid white;
    padding: 0.25rem 0.5rem;
    min-height: 160px;
    max-height: 160px;
    overflow-y: scroll;
}

.ui_btn_bar {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

.profile_menu_bars {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.profile_w_bar {
    display: inline-flex;
    gap: 1rem;
    padding: 0.25rem 1rem 0.25rem 0;
    justify-content: flex-end;
    align-items: baseline;
}

.dungeon_info {
    position: absolute;
    top: 2.5rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    background: radial-gradient(#242424, #474747);
    border: 1px solid white;
    padding: 0.5rem 1rem;
}

.tree_group {
    display : flex;
    gap: 2rem;
}

.tree_btn_bar {
    display: flex;
}

.tree_btn_bar button {
    width: 100%;
}

.category_title {
    border-bottom: 1px solid white;
    transform: translateY(-20px);
}

.box {
    border: 1px solid white;
    width: 64px;
    height: 64px;
}

.common {
    background: var(--white-r-gradient);
}

.uncommon {
    background: var(--green-r-gradient);
}

.rare {
    background: var(--blue-r-gradient);
}

.epic {
    background: var(--purple-r-gradient);
}

.legendary {
    background: var(--orange-r-gradient);
}

.border_red {
    border: 2px outset red;
}

.border_aqua {
    border: 2px outset aqua;
}

.border_blue {
    border: 2px outset blue;
}

.bottom_abs {
    position: absolute;
    bottom: 50px;
}

.center_abs_hor {
    transform: translateX(-50%);
    left: 50%;
}

.left_abs_hor {
    transform: translateX(-25%);
    left: 25%;
}

.right_abs_hor {
    transform: translateX(-75%);
    left: 75%;
}

.small_title_font {
    font-size: 16px;
}

button:hover {
    cursor: pointer;
}